In [55]:
from selenium import webdriver as wr
from selenium.webdriver.common.keys import Keys

# 1 - Pegar a cotação do Dolar
## abrir o navegador
navegador = wr.Chrome()

## entrar no google
navegador.get('https://google.com.br/')

## pesquisar cotação dolar no google
# navegador.find_element('como?','codigo dele')
navegador.find_element('xpath','/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys('cotação dolar')

navegador.find_element('xpath','/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)

## pegar a cotação
cotacao_dolar = navegador.find_element('xpath','//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')

print(cotacao_dolar)

# 2 - Pegar a cotação do Euro
navegador.get('https://google.com.br/')

navegador.find_element('xpath','/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys('cotação euro')

navegador.find_element('xpath','/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)

cotacao_euro = navegador.find_element('xpath','//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')

print(cotacao_euro)

# 3 - Pegar a cotação do ouro
navegador.get('https://www.melhorcambio.com/ouro-hoje')

cotacao_ouro = navegador.find_element('xpath','//*[@id="comercial"]').get_attribute('value')
cotacao_ouro = cotacao_ouro.replace(',','.')

print(cotacao_ouro)

# Fechando o navegador

navegador.quit()

5.2442
5.340299965000001
292.78

In [56]:
# 4 - Atualizar a base de dados
import pandas as pd

tabela = pd.read_excel('Produtos.xlsx')
display(tabela)

         Produtos  Preço Original  Moeda  Cotação  Preço de Compra  Margem  Preço de Venda
0    Câmera Canon          999.99  Dólar        5          4999.95    1.40        6999.930
1   Carro Renault         4500.00   Euro        6         27000.00    2.00       54000.000
2   Notebook Dell          899.99  Dólar        5          4499.95    1.70        7649.915
3          IPhone          799.00  Dólar        5          3995.00    1.70        6791.500
4      Carro Fiat         3000.00   Euro        6         18000.00    1.90       34200.000
5  Celular Xiaomi          480.48  Dólar        5          2402.40    2.00        4804.800
6        Joia 20g           20.00   Ouro      350          7000.00    1.15        8050.000

In [57]:
# 5 - Recalcular os preços

## Atualizar as cotações
tabela.loc[tabela["Moeda"] == "Dólar", "Cotação"] = float(cotacao_dolar)
tabela.loc[tabela["Moeda"] == "Euro", "Cotação"] = float(cotacao_euro)
tabela.loc[tabela["Moeda"] == "Ouro", "Cotação"] = float(cotacao_ouro)

## Preço de Compra = Preço Original * Cotação
tabela['Preço de Compra'] = tabela['Preço Original'] * tabela['Cotação']

## Preço de Venda = Preço de Compra * Margem
tabela['Preço de Venda'] = tabela['Preço de Compra'] * tabela['Margem']

display(tabela)

         Produtos  Preço Original  Moeda   Cotação  Preço de Compra  Margem  Preço de Venda
0    Câmera Canon          999.99  Dólar    5.2442      5244.147558    1.40     7341.806581
1   Carro Renault         4500.00   Euro    5.3403     24031.349843    2.00    48062.699685
2   Notebook Dell          899.99  Dólar    5.2442      4719.727558    1.70     8023.536849
3          IPhone          799.00  Dólar    5.2442      4190.115800    1.70     7123.196860
4      Carro Fiat         3000.00   Euro    5.3403     16020.899895    1.90    30439.709801
5  Celular Xiaomi          480.48  Dólar    5.2442      2519.733216    2.00     5039.466432
6        Joia 20g           20.00   Ouro  292.7800      5855.600000    1.15     6733.940000

In [58]:
# 6 - Exportar a base de dados
tabela.to_excel('Produtos Novo.xlsx', index=False)